# Core
pydantic
pillow

# Linter
black
isort

# Testing
pytest

# Amazon Web Services
boto3

# Google Cloud
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
google-auth
google-api-core
google-cloud-vision
google-cloud-translate
google-cloud-speech
google-cloud-language
google-cloud-translate
google-cloud-vision

# Microsoft Azure
msrest
azure-ai-textanalytics
azure-cognitiveservices-vision-computervision
azure-ai-translation-text
azure-core